/* Shared Styles */
/* work sans font */
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* Header Styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
    font-weight: 500;
    
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

/* Banner Styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}

.banner-description{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Styles */
.teams-container{
    display: flex;
    align-items: center;

}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.teams-title .q{
    color: #727272;
    font-weight: 500;
    font-size: 2.8rem;
}

.teams-title .o{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

.teams-title .f{
    color: #FF900E;
    font-weight: 700;
    font-size: 2.8rem;
}


/* Responsive Styles Start*/
/* Mobile Devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
}

/* Tablets & medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
/* Responsive Styles End */